.image-container img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.informative-img,
.text-image {
  width: 25rem;
  height: 35rem;
}

.decorative-img {
  height: 25rem;
  width: auto;
  margin-bottom: 3rem;
}

.informative-background-image {
  height: 25rem;
  width: 50rem;
  background: url("./assets/airbag.jpg") no-repeat;
  background-position-x: -60px;
}

.play-button {
  height: 6rem;
  width: 6rem;
}
