.second-table {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.table-container {
  border-right: 2px solid #ddd;
  width: 100%;
}

.table-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid #f5f5f5;
}

.table-cell-group {
  display: flex;
}

.table-cell {
  width: 16.666%;
  border-right: 2px solid #f5f5f5;
  text-align: center;
  padding: 0.5rem 0;
}

.double-table-cell {
  width: calc(28.5714% - 4px);
}

.table-cell-2 {
  width: 14.2857%;
  border-right: 2px solid #f5f5f5;
  text-align: center;
  padding: 0.5rem 0;
}

.table-header-cell {
  background-color: #f5f5f5;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
}

.table-cell-last {
  border-right: none;
}

.left-cell {
  border-left: 2px solid #f5f5f5;
}

.last-row {
  border-bottom: 2px solid #f5f5f5;
}

/* grid table with complex headers */

.grid-table {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 5fr;
  border: 2px solid #f5f5f5;
}

.grid-col-1 {
  border-right: 2px solid #f5f5f5;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
}

.grid-col-1-row-1 {
  background-color: #114c2a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #f5f5f5;
}

.grid-col-row-2 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  border-top: 2px solid #f5f5f5;
}

.grid-col-2 {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
}

.grid-col-2-row-1 {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  border-left: 2px solid #f5f5f5;
}

.grid-col-2-row-1-upper {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 2fr;
}

.grid-col-2-row-1-lower {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  border-top: 2px solid #f5f5f5;
}

.grid-cell-senior {
  border-top: 2px solid #f5f5f5;
}
.grid-col-2-row-2 {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  border-top: 2px solid #f5f5f5;
}

.grid-col-2-row-2-upper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 2px solid #f5f5f5;
}

.grid-col-2-row-2-lower {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-1-row-2 {
  background-color: #114c2a;
}
.grid-col-1-row-2-right {
  background-color: #114c2a;
}

.grid-cell {
  text-align: center;
  padding: 0.5rem 0;
}

.border-right {
  border-right: 2px solid #f5f5f5;
}

.border-left {
  border-left: 2px solid #f5f5f5;
}

.grid-header-cell {
  color: #c9e4c5;
  background-color: #114c2a;
  font-size: 1.2rem;
  font-weight: 700;
}
